:root {
  --color-primary: #5D39D8;
  --color-primary-light: #EBE5FF;
  --color-secondary: #5F5F5F;
  --color-secondary-light: #F7F7FA;

  --font-primary: Sarabun, sans-serif;
}

::selection {
  background-color: var(--color-primary-light);
}

h1 {
  color: var(--color-dark-gray);
  font-weight: 500;
}

h3 {
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-dark-gray);
  transition: all .3s ease;
}

strong {
  color: var(--color-primary);
  font-weight: 700;
}

/*@utility Apply primary purple color*/
.color-purple {
  color: var(--color-primary);
}

/*@utility Apply dark gray color*/
.color-dark-gray {
  color: var(--color-dark-gray);
}

/*@utility Apply light gray background*/
.section-light {
  background-color: var(--color-primary-light);
}
