:root {
  --color-primary: #5D39D8;
  --color-primary-light: #ebe6ff;
  --color-secondary: #5F5F5F;
  --color-secondary-medium: #BFBFC9;
  --color-secondary-light: #F7F7FA;
  --color-white: #fff;

  --font-primary: Sarabun, sans-serif;
}

::selection {
  background-color: var(--color-primary-light);
}

h1, h2 {
  color: var(--color-dark-gray);
  font-weight: 500;
  font-family: var(--font-primary);
}

h3 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

h4 {
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  color: var(--color-primary);
  font-family: var(--font-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-dark-gray);
  transition: all .3s ease;
}

strong {
  color: var(--color-primary);
  font-weight: 700;
}

/*@utility Apply primary purple color*/
.color-purple {
  color: var(--color-primary);
}

/*@utility Apply dark gray color*/
.color-dark-gray {
  color: var(--color-secondary);
}

/*@utility Apply medium gray color*/
.color-medium-gray {
  color: var(--color-secondary-medium);
}

/*@utility Apply light gray color*/
.color-light-gray {
  color: var(--color-secondary-light);
}

/*@utility Apply white color to element*/
.color-white {
  color: var(--color-white);
}

/*@utility Apply light gray background*/
.section-light {
  background-color: var(--color-primary-light);
}

/*@utility Apply primary purple background*/
.section-dark {
  background-color: var(--color-primary);
}

/*@utility Apply white background*/
.section-white {
  background-color: #fff;
}

/*@utility Apply secondary light background*/
.section-secondary-light {
  background-color: var(--color-secondary-light);
}

li,
p {
  font-family: var(--font-primary);
}

.border {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--color-secondary-light);
}
