.job-posting-grid {
  background-color: #fff;
  border-bottom: 1px solid var(--color-primary-light);
}

.left-arrow {
  transform: rotate(180deg);
}

.bookmark-icon {
  color: var(--color-primary);
}

.bookmark-icon:hover {
  color: var(--color-secondary-dark);
  transition: all .3s ease;
}
