---
layout: default
---
<section class="section-secondary-light">
  <div class="grid">
    <div class="unit s-1 m-1-2 l-2-3 gutter-2 pad-t-2 pad-b-2">
      <h2 class="mega">Junior Graphic Designer</h2>
      <div class="grid">
        <div class="unit xs-1-3 s-1-2 m-1-2">
          <p class="nano push-1-4 gutter-1-2 color-medium-gray">Applicant Name</p>
        </div>
        <div class="unit xs-1-3 s-1-2 m-1-4">
          <p class="nano push-1-4 gutter-1-2 color-medium-gray">Location</p>
        </div>
        <div class="unit xs-1-3 s-1-2 m-1-4">
          <p class="nano push-1-4 gutter-1-2 color-medium-gray">Days Applied</p>
        </div>
      </div>
      {% for applications in site.data.job-applications.juniorGraphicDesigner %}
        {% pattern cards/job-application data=applications %}
      {% endfor %}
    </div>
    <div class="unit s-1 m-1-2 l-1-3 section-white pad-t-2">
      <h2 class="mega gutter-2">Postings</h2>
      {% for posts in site.data.job-applications %}
        {% pattern cards/employer-postings %}
      {% endfor %}
    </div>
  </div>

</section>
