:root {
  --color-primary: #5D39D8;
  --color-primary-light: #F7F7FA;
  --color-dark-gray: #5F5F5F;

  /* --font-primary: Sarabun, sans-serif;
  --font-secondary: Georgia, serif; */
}

h1 {
  color: var(--color-dark-gray);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
