.btn {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn:hover {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  color: var(--color-secondary);
}
