/* Index Login */

.border-bottom {
  border-bottom: 1px solid #e2e2e2;
}

.main-nav-link {
  padding: .5em 2em;
}
/* Tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  cursor: pointer;
  color: var(--color-secondary-medium);
  transition: background 0.1s, color 0.1s;
  font-family: var(--font-primary);
  font-weight: 500;
}

[type="radio"] + label::before {
  display: none;
}

.label:hover {
  color: var(--color-primary);
}

.label:active {
  color: var(--color-secondary-dark);
}

.input:focus + .label {
  z-index: 1;
}

.input:checked + .label {
  color: var(--color-secondary-dark);
}

.panel {
  display: none;
}

/* Student Menu */

.menu {
  width: 240px;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  left: -240px;
  top: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: left;
  padding: 1em .5em;
}

nav a:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

nav {
  width: 100%;
  text-align: center;
}

/* ----------------------------------------- */

label.menu-icon {
  color: var(--color-primary);
  cursor: pointer;
  stroke-width: 5;
  transition: all .2s ease-in-out;
}

label img.open {
  transition: all .2s ease-in-out;
}

label.menu-icon:hover {
  transform: scale(1.1);
}

.close {
  display: none;
}

#menutoggle {
  display: none;
}

#menutoggle:checked ~ label img.open {
  transform: rotate(90deg);
}

#menutoggle:checked ~ .menu-icon {
  color: var(--color-secondary-dark);
  stroke: 5px;
}

#menutoggle:checked ~ .menu {
  left: 0;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }

  .panel {
    order: 99;
  }
}

  .input:checked + .label + .panel {
    display: block;
  }
}
