<div class="tabs">
  <input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
  <label for="tab-1" class="label gutter-1-2 pad-b mega">Bookmarks</label>
  <div class="panel w-1">
    <div class="grid gutter-1-4">
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Company</p>
      </div>
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Position</p>
      </div>
      <div class="unit xs-0 s-0 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Location</p>
      </div>
      <div class="unit xs-0 s-0 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Days Left to Apply</p>
      </div>
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Bookmark</p>
      </div>
    </div>
    {% for jobs in site.data.job-listings.bookmarks %}
      {% pattern cards/job-bookmarks data=jobs %}
    {% endfor %}
  </div>

  <input name="tabs" type="radio" id="tab-2" class="input"/>
  <label for="tab-2" class="label gutter-1-2 pad-b mega">Available Openings</label>
  <div class="panel w-1">
    <div class="grid gutter-1-4">
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Company</p>
      </div>
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Position</p>
      </div>
      <div class="unit xs-0 s-0 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Location</p>
      </div>
      <div class="unit xs-0 s-0 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Days Left to Apply</p>
      </div>
      <div class="unit xs-1-3 s-1-3 m-1-5">
        <p class="nano push-1-4 gutter-1-4 color-medium-gray">Bookmark</p>
      </div>
    </div>
    {% for jobs in site.data.job-listings.available %}
      {% pattern cards/job-postings company=jobs.company position=jobs.position duration=jobs.duration location=jobs.location daysLeft=jobs.daysLeft %}
    {% endfor %}
  </div>
</div>
