.close:checked ~ .email-overlay {
  display: none;
}

.close:checked ~ .student-profile-overlay {
  display: none;
}

.job-description {
  display: none;
}

.bookmarked-icon {
  display: none;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
}

.emp-card {
  background-color: var(--color-primary-light);
}

/* Job Posting Card */

.job-posting-card:hover .job-posting-grid {
  background-color: #fff;
}

.job-posting-grid {
  background-color: #fff;
  border-bottom: 1px solid var(--color-primary-light);
}

.left-arrow,
.left-arrow-student,
.left-arrow-employer {
  transform: rotate(180deg);
}

/* Application Card */

.application-card {
  border-top: 1px solid var(--color-secondary-light);
  border-bottom: 1px solid var(--color-secondary-light);
  transition: all .2s ease-in-out;
}

.application-card:hover {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}

.job-description {
  display: none;
}

.student-profile-overlay {
  display: none;
}

.checkmark {
  stroke: var(--color-primary);
  stroke-width: 2;
  color: #ffffff;
  transition: color .2s ease-in-out;
}

.container:hover .checkmark {
  color: var(--color-secondary-dark);
}

.container input:checked ~ .checkmark {
  color: var(--color-primary);
}

.job-description,
.student-profile-overlay {
  width: 100vw;
  z-index: 10;
}

@media only screen and (min-width: 38em) {

  .job-description,
  .student-profile-overlay {
    width: 60vw;
    z-index: 10;
  }

  .process-grid {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60em) {
  .process-grid {
    max-width: 100%;
  }
}
