.close:checked ~ .job-description-overlay {
  display: none;
}

.close:checked ~ .icon {
  display: none;
}

.close:checked ~ .email-overlay {
  display: none;
}

.close:checked ~ .student-profile-overlay {
  display: none;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -3em;
}

.emp-card {
  Background-color: var(--color-primary-light);
}
