.close:checked ~ .job-description-overlay {
  display: none;
}

.close:checked ~ .icon {
  display: none;
}

.close:checked ~ .email-overlay {
  display: none;
}

.close:checked ~ .student-profile-overlay {
  display: none;
}

.bookmarked-icon {
  display: none;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
}

.emp-card {
  Background-color: var(--color-primary-light);
}

.job-posting-grid {
  background-color: #fff;
  border-bottom: 1px solid var(--color-primary-light);
}

.left-arrow,
.left-arrow-student,
.left-arrow-employer {
  transform: rotate(180deg);
}

.bookmark-icon {
  color: var(--color-primary);
}

.bookmark-icon:hover {
  color: var(--color-secondary-dark);
  transition: all .3s ease;
}

.application-card {
  border-top: 1px solid var(--color-secondary-light);
  border-bottom: 1px solid var(--color-secondary-light);
}

.job-description {
  display: none;
}

.job-description-overlay,
.student-profile-overlay {
  width: 60vw;
}

.student-profile-overlay {
  display: none;
}

.icon svg {
  fill: var(--color-primary);
}
