<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sarabun:400,500,600,700" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#navigation">Jump to navigation</a></li>
  </ul>

  <header>
    <div class="grid island-1-2">
      <a aria-label="Homepage of the portfolio" itemscope itemtype="http://schema.org/Brand" class="unit xs-1-2 s-1-2 m-1-3 l-1-3 gutter-2" href="/index">
        <i class="icon i-96">
          <img itemprop="image" src="/images/logo-32.svg" alt="Higher brand logo that higher">
        </i>
      </a>
      <nav role="navigation" id="navigation" tabindex="0" itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav text-right unit xs-1-2 s-1-2 m-2-3 l-2-3 pad-t gutter-2">
        <ul itempscope itemtype="http://schema.org/ItemListOrderType" class="list-group-inline">
          <li class="list-group-item gutter">
            <a aria-label="find jobs" itemprop="Url" class="kilo color-dark-gray" href="#">Find jobs</a>
          </li>
          <li class="list-group-item gutter">
            <a aria-label="find jobs" itemprop="Url" class="mega bold" href="#">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>

  <footer>
    <div class="section-light island">
      <ul itempscope itemtype="http://schema.org/ItemListOrderType" class="list-group-inline grid text-center pad-b">
        <li class="list-group-item gutter unit xs-1 s-1 m-1-2 l-1-2">
          <a aria-label="find jobs" itemprop="Url" class="micro color-dark-gray" href="#">About Us</a>
        </li>
        <li class="list-group-item gutter unit xs-1 s-1 m-1-2 l-1-2">
          <a aria-label="find jobs" itemprop="Url" class="micro color-dark-gray" href="#">Careers</a>
        </li>
        <li class="list-group-item gutter unit xs-1 s-1 m-1-2 l-1-2">
          <a aria-label="find jobs" itemprop="Url" class="micro color-dark-gray" href="#">Privacy Policy</a>
        </li>
        <li class="list-group-item gutter unit xs-1 s-1 m-1-2 l-1-2">
          <a aria-label="find jobs" itemprop="Url" class="micro color-dark-gray" href="#">Terms & Conditions</a>
        </li>
      </ul>
      <p class="text-center push-none"><small class="pico color-dark-gray">© higher inc. 2019</small></p>
    </div>
  </footer>

</body>
</html>
